/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-one__right {
        max-width: 600px;
        margin: 350px auto 0;
    }

    .about-one {
        padding: 0 0 110px;
    }

    .services-one__inner {
        padding: 95px 20px 20px;
    }

    .benefits-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .benefits-one__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .portfolio-one__title-box {
        left: 10px;
        right: 50px;
        padding: 39px 20px 43px;
    }

    .faq-one__left {
        max-width: 650px;
        margin: 0 auto 0;
    }

    .faq-one__right {
        max-width: 650px;
        margin: 60px auto 0;
    }

    .cta-one__inner {
        padding: 58px 20px 58px;
        padding-right: 20px;
    }

    .counter-one__count-list li {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .pricing-one__inner {
        padding: 50px 25px 50px;
    }

    .testimonial-one__inner::before {
        top: 0;
        bottom: 0;
    }

    .testimonial-one__carousel {
        padding: 45px 30px 79px;
    }

    .testimonial-one__carousel.owl-theme .owl-nav {
        bottom: 79px;
    }

    .testimonial-one__quote {
        right: 0px;
    }

    .blog-one__content {
        padding: 18px 20px 17px;
        padding-right: 20px;
    }

    .footer-widget__explore {
        margin-left: 0;
    }

    .footer-widget__links {
        margin-left: 0;
        margin-right: -5px;
    }

    .footer-widget__blog {
        margin-left: 0;
    }

    .footer-widget__contact {
        margin-left: 0;
    }

    .about-two__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-two__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .services-two {
        margin-right: 0;
        padding: 112px 0 90px;
    }

    .services-two__left {
        margin-left: 0;
        margin-right: 0;
    }

    .services-two__right {
        margin-left: 0;
        margin-right: 0;
    }

    .faq-two__left .section-title-two__title {
        font-size: 40px;
        line-height: 50px;
    }

    .team-two__left {
        margin-right: 0;
        margin-bottom: 60px;
        max-width: 600px;
    }

    .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .testimonial-two__right {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 600px;
        margin: 60px auto 0;
    }

    .testimonial-two__text-2 {
        font-size: 35px;
    }

    .blog-two__list>li {
        flex-direction: column;
    }

    .blog-two__title {
        font-size: 20px;
    }

    .newsletter-two__title {
        font-size: 44px;
    }

    .about-three__left {
        max-width: 600px;
        margin: 0 auto 89px;
    }

    .about-three__top {
        margin-right: 0;
    }

    .about-three__right {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-three__img-box::before {
        display: none;
    }

    .about-three {
        padding: 120px 0 80px;
    }

    .services-three__left {
        margin-left: 0;
        margin-top: 0;
    }

    .services-three__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .faq-three__left {
        max-width: 600px;
        margin: 0 auto 60px;
    }

    .faq-three__right {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .portfolio-three__content {
        padding: 24px 15px 31px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .counter-three__single::before {
        bottom: 35px;
    }

    .counter-three__single::after {
        display: none;
    }

    .testimonial-three__inner {
        margin-left: 0;
        margin-right: 390px;
    }

    .testimonial-three__carousel.owl-theme .owl-nav {
        right: 0;
    }

    .blog-three__content {
        padding: 18px 20px 17px;
        padding-right: 20px;
    }

    .blog-three__date {
        bottom: -20px;
    }

    .footer-widget-three__explore {
        margin-left: 0;
    }

    .footer-widget-three__company {
        margin-left: 0;
        margin-top: 31px;
    }

    .footer-widget-three__contact {
        margin-left: 0;
        margin-top: 31px;
    }

    .case-single__details-inner {
        padding: 40px 20px 40px;
    }

    .case-single__details-list li:before {
        left: -45px;
    }

    .portfolio-details__planing-right {
        margin-left: 0;
        margin-top: 23px;
    }

    .services-details__img-and-points-box {
        flex-direction: column;
        align-items: baseline;
    }

    .services-details__points-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .team-details__right {
        margin-left: 0;
    }

    .team-details__title {
        font-size: 49px;
    }

    .team-details__points-box {
        flex-direction: column;
        align-items: baseline;
    }

    .team-details__points-3 {
        margin-left: 0;
        margin-top: 8px;
    }

    .why-choose-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .why-choose-one__right {
        max-width: 600px;
        margin: 50px auto 0;
    }

    .page-header__shape-1 {
        top: 0;
    }

    .page-header {
        padding: 314px 0 238px;
    }


    .portfolio-one__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }











}




















/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature-one__single {
        padding: 50px 20px 55px;
        padding-right: 20px;
    }

    .about-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-one__right {
        max-width: 600px;
        margin: 350px auto 0;
    }

    .about-one__img-box {
        right: -35px;
    }

    .about-one {
        padding: 0 0 110px;
    }

    .process-one__process-list {
        justify-content: inherit;
        margin: 0 -20px;
    }

    .process-one__process-list li {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        padding: 0 20px;
    }

    .services-one__inner {
        padding: 95px 20px 20px;
    }

    .services-one__services-list li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .benefits-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .benefits-one__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .faq-one__left {
        max-width: 650px;
        margin: 0 auto 0;
    }

    .faq-one__right {
        max-width: 650px;
        margin: 60px auto 0;
    }

    .cta-one__inner {
        padding: 58px 20px 58px;
        padding-right: 20px;
        flex-direction: column;
        text-align: center;
    }

    .cta-one__icon {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .counter-one__count-list li {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .testimonial-one__inner::before {
        top: 0;
        bottom: 0;
    }

    .testimonial-one__right {
        margin-left: 0;
    }

    .testimonial-one__carousel.owl-theme .owl-nav {
        right: 60px;
    }

    .testimonial-one__quote {
        right: 0;
    }

    .newsletter-one__inner {
        padding: 70px 20px 80px;
    }

    .footer-widget__explore {
        margin-left: 0;
    }

    .footer-widget__links {
        margin-left: 0;
        margin-right: 0;
        margin-top: 34px;
    }

    .footer-widget__blog {
        margin-left: 0;
        margin-top: 34px;
    }

    .footer-widget__contact {
        margin-left: 0;
        margin-top: 34px;
    }

    .about-two__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-two__right {
        max-width: 600px;
        margin: 60px auto 0;
    }

    .services-two {
        margin-right: 0;
        padding: 112px 0 90px;
    }

    .services-two__left {
        margin-left: 0;
        margin-right: 0;
    }

    .services-two__right {
        margin-left: 0;
        margin-right: 0;
    }

    .counter-two__list li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .counter-two__list li:last-child {
        border-right: 1px solid rgba(26, 26, 26, .15);
    }

    .portfolio-two-filter.style1 li+li {
        margin-left: 20px;
    }

    .faq-two__right {
        margin-top: 60px;
    }

    .team-two__left {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .testimonial-two__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .testimonial-two__right {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 600px;
        margin: 60px auto 0;
    }

    .testimonial-two__text-2 {
        font-size: 35px;
    }

    .about-three__left {
        max-width: 600px;
        margin: 0 auto 89px;
    }

    .about-three__top {
        margin-right: 0;
    }

    .about-three__right {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .about-three__img-box::before {
        display: none;
    }

    .about-three {
        padding: 120px 0 80px;
    }

    .share-the-joy__title br {
        display: none;
    }

    .services-three__left {
        margin-left: 0;
        margin-top: 0;
    }

    .services-three__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .faq-three__left {
        max-width: 600px;
        margin: 0 auto 60px;
    }

    .faq-three__right {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .counter-three__single::before {
        bottom: 35px;
    }

    .counter-three__single::after {
        display: none;
    }

    .testimonial-three__inner {
        margin-left: 0;
        margin-right: 0;
    }

    .testimonial-three__shape-1 {
        display: none;
    }

    .testimonial-three__carousel.owl-theme .owl-nav {
        right: 0;
    }

    .cta-two__title {
        font-size: 30px;
        line-height: 40px;
    }

    .footer-widget-three__explore {
        margin-left: 0;
    }

    .footer-widget-three__company {
        margin-left: 0;
        margin-top: 31px;
    }

    .footer-widget-three__contact {
        margin-left: 0;
        margin-top: 31px;
    }

    .case-single__details {
        margin-left: 10px;
        margin-right: 10px;
    }

    .case-single__details-inner {
        padding: 40px 10px 40px;
    }

    .case-single__details-list li:before {
        display: none;
    }

    .contact-page__right {
        margin-top: 50px;
    }

    .portfolio-details__planing-right {
        margin-left: 0;
        margin-top: 23px;
    }

    .portfolio-details__sidebar {
        margin-top: 50px;
    }

    .gallery-one__title-box {
        top: 177px;
    }

    .services-details__img-and-points-box {
        flex-direction: column;
        align-items: baseline;
    }

    .services-details__points-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .services-details__right {
        margin-top: 60px;
    }

    .team-details__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .qualification__inner {
        flex-direction: column;
        align-items: baseline;
    }

    .qualification__right {
        margin-left: 0;
    }

    .why-choose-one__left {
        max-width: 600px;
        margin: 0 auto 0;
    }

    .why-choose-one__right {
        max-width: 600px;
        margin: 50px auto 0;
    }

    .page-header__shape-1 {
        top: 0;
    }

    .page-header {
        padding: 314px 0 238px;
    }



    .portfolio-one__title-box {
        left: 20px;
        right: 53px;
        padding: 39px 20px 43px;
    }

    .portfolio-one__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    .portfolio-one__arrow a {
        width: 60px;
        height: 60px;
    }














}






























/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .section-title__tagline {
        font-size: 18px;
    }

    .section-title__title {
        font-size: 25px;
        line-height: 35px;
    }

    .section-title__title br {
        display: none;
    }

    .section-title-two__title {
        font-size: 30px;
        line-height: 40px;
    }

    .section-title-two__title br {
        display: none;
    }

    .section-title-three__title {
        font-size: 25px;
        line-height: 35px;
    }

    .section-title-three__title br {
        display: none;
    }








    .brand-one__img {
        display: inline-block;
    }

    .brand-one__img>img {
        width: auto !important;
    }

    .feature-one__single {
        padding: 50px 20px 55px;
        padding-right: 20px;
    }

    .feature-one__title {
        font-size: 20px;
    }

    .about-one__left {
        margin-right: 0;
    }

    .about-one__img-box {
        display: none;
    }

    .about-one__project-complete {
        display: none;
    }

    .about-one__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
    }

    .about-one__it-solution {
        flex-direction: column;
        align-items: baseline;
    }

    .about-one__it-solution-content {
        margin-left: 0;
        margin-top: 15px;
    }

    .about-one__btn-and-contact {
        flex-direction: column;
        align-items: baseline;
    }

    .about-one__contact-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .about-one {
        padding: 0 0 120px;
    }

    .process-one__process-list {
        flex-direction: column;
    }

    .services-one__services-list li {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services-one__inner {
        padding: 95px 20px 20px;
    }

    .benefits-one__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .benefits-one__points-and-mission {
        flex-direction: column;
    }

    .benefits-one__mission {
        margin-left: 0;
        margin-top: 20px;
    }

    .benefits-one__shape-1 {
        display: none;
    }

    .faq-one__left {
        margin-right: 0;
    }

    .faq-one__img-and-system {
        flex-direction: column;
    }

    .faq-one__system {
        margin-left: 0;
        margin-top: 21px;
    }

    .faq-one__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .cta-one__inner {
        padding: 58px 20px 58px;
        padding-right: 20px;
        flex-direction: column;
        text-align: center;
    }

    .cta-one__icon {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .counter-one__count-list li {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pricing-one__inner {
        padding: 50px 25px 50px;
    }

    .team-one__name-box,
    .team-three__name-box {
        bottom: 115px;
    }

    .video-one__title {
        font-size: 35px;
        line-height: 45px;
    }

    .testimonial-one__inner::before {
        top: 0;
        bottom: 0;
    }

    .testimonial-one__right {
        margin-left: 0;
    }

    .testimonial-one__carousel.owl-theme .owl-nav {
        display: none;
    }

    .testimonial-one__quote {
        right: 0;
    }

    .testimonial-one__carousel {
        padding: 82px 20px 79px;
    }

    .blog-one__content {
        padding: 18px 20px 17px;
        padding-right: 20px;
    }

    .blog-one__date {
        bottom: -18px;
    }

    .newsletter-one__inner {
        padding: 70px 15px 80px;
    }

    .newsletter-one__title {
        font-size: 45px;
        line-height: 55px;
    }

    .newsletter-one__form {
        flex-direction: column;
    }

    .newsletter-one__btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .site-footer {
        margin-top: -393px;
    }

    .site-footer__top {
        padding: 471px 0 95px;
    }

    .footer-widget__explore {
        margin-left: 0;
        margin-top: 34px;
    }

    .footer-widget__links {
        margin-left: 0;
        margin-right: 0;
        margin-top: 34px;
    }

    .footer-widget__blog {
        margin-left: 0;
        margin-top: 34px;
    }

    .footer-widget__contact {
        margin-left: 0;
        margin-top: 34px;
    }

    .site-footer__bottom-inner {
        flex-direction: column;
        text-align: center;
    }

    .site-footer__bottom-links {
        flex-direction: column;
    }

    .site-footer__bottom-links li::before {
        display: none;
    }

    .site-footer__bottom-links li+li {
        margin-left: 0;
    }

    .about-two__left {
        margin-left: 0;
    }

    .about-two__experience-box {
        left: 0;
    }

    .about-two__right {
        margin-left: 0;
        margin-top: 60px;
    }

    .about-two__solution-box {
        flex-direction: column;
        align-items: baseline;
    }

    .about-two__solution-box li+li {
        margin-left: 0;
        margin-top: 20px;
    }

    .about-two__btn-and-call {
        flex-direction: column;
        align-items: baseline;
    }

    .about-two__call {
        margin-left: 0;
        margin-top: 10px;
    }

    .services-two {
        margin-right: 0;
        padding: 112px 0 90px;
    }

    .services-two__left {
        margin-left: 0;
        margin-right: 0;
    }

    .services-two__right {
        margin-left: 0;
        margin-right: 0;
    }

    .counter-two__list li {
        flex: 0 0 100%;
        max-width: 100%;
        border-right: 0;
    }

    .portfolio-two-filter {
        flex-direction: column;
    }

    .portfolio-two-filter.style1 li+li {
        margin-left: 0;
        margin-top: 10px;
    }

    .faq-two__img {
        margin-right: 0;
    }

    .faq-two__right {
        margin-top: 60px;
    }

    .team-two__left {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .testimonial-two__counter {
        flex-direction: column;
        align-items: baseline;
    }

    .testimonial-two__counter-single+.testimonial-two__counter-single {
        margin-left: 0;
        margin-top: 30px;
    }

    .testimonial-two__right {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .testimonial-two__text-2 {
        font-size: 20px;
        line-height: 30px;
    }

    .testimonial-two__client-name {
        font-size: 20px;
    }

    .blog-two__content-one {
        bottom: 30px;
        left: 30px;
    }

    .blog-two__list>li {
        flex-direction: column;
    }

    .site-footer-two {
        margin-top: 0;
    }

    .newsletter-two__title {
        font-size: 40px;
        line-height: 50px;
    }

    .about-three__top {
        margin-right: 0;
    }

    .about-three__feature-single {
        padding: 69px 20px 60px;
    }

    .about-three__feature-title {
        margin-left: 20px;
        font-size: 20px;
        line-height: 30px;
    }

    .about-three__it-solution {
        flex-direction: column;
        align-items: baseline;
    }

    .about-three__it-solution-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .about-three__founder-text {
        font-size: 22px;
    }

    .about-three__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 82px;
    }

    .about-three__img-box::before {
        display: none;
    }

    .about-three {
        padding: 120px 0 80px;
    }

    .share-the-joy__title {
        font-size: 30px;
        line-height: 40px;
    }

    .share-the-joy__title br {
        display: none;
    }

    .share-the-joy__shape-1 {
        display: none;
    }

    .services-three__left {
        margin-left: 0;
        margin-top: 0;
    }

    .services-three__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .services-three__right-single-1 {
        margin-top: 0;
    }

    .services-three__right-single-4 {
        margin-top: 0;
    }

    .providing-one__content {
        padding: 50px 10px 54px;
    }

    .providing-one__title {
        font-size: 20px;
        line-height: 30px;
    }

    .faq-three__left {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .portfolio-three__content {
        padding: 24px 15px 31px;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        align-items: baseline;
    }

    .portfolio-three__arrow {
        margin-top: 15px;
    }

    .counter-three__single::before {
        bottom: 35px;
    }

    .counter-three__single::after {
        display: none;
    }

    .video-three__title {
        font-size: 40px;
        line-height: 50px;
    }

    .video-three__title br {
        display: none;
    }

    .testimonial-three__inner {
        margin-left: 0;
        margin-right: 0;
    }

    .testimonial-three__shape-1 {
        display: none;
    }

    .testimonial-three__carousel.owl-theme .owl-nav {
        display: none;
    }

    .testimonial-three {
        padding: 120px 0 120px;
    }

    .blog-three__content {
        padding: 18px 20px 17px;
        padding-right: 20px;
    }

    .blog-three__date {
        bottom: -20px;
    }

    .cta-two__inner {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .cta-two__title {
        font-size: 30px;
        line-height: 40px;
    }

    .cta-two__left {
        margin-bottom: 30px;
    }

    .footer-widget-three__explore {
        margin-left: 0;
        margin-top: 41px;
    }

    .footer-widget-three__company {
        margin-left: 0;
        margin-top: 31px;
    }

    .footer-widget-three__contact {
        margin-left: 0;
        margin-top: 31px;
    }

    .site-footer-three__bottom-inner {
        flex-direction: column;
        text-align: center;
    }

    .testimonial-four__inner {
        padding: 70px 20px 150px;
    }

    .testimonial-four__client-box {
        flex-direction: column;
        align-items: baseline;
    }

    .testimonial-four__client-info {
        margin-left: 0;
        margin-top: 20px;
    }

    .blog-page__meta {
        flex-direction: column;
        align-items: baseline;
    }

    .blog-page__meta li+li {
        margin-left: 0px;
    }

    .blog-page__pagination .pg-pagination li {
        display: block;
        margin-right: 0;
    }

    .blog-page__pagination .pg-pagination li+li {
        margin-top: 20px;
    }

    .sidebar__category-list li a {
        font-size: 15px;
        padding: 17px 10px 15px;
    }

    .blog-details__meta {
        flex-direction: column;
        align-items: baseline;
    }

    .blog-details__meta li+li {
        margin-left: 0;
    }

    .blog-details__bottom {
        flex-direction: column;
    }

    .blog-details__tags a {
        padding: 2px 22px 1px;
    }

    .blog-details__bottom p {
        margin-bottom: 20px;
    }

    .author {
        padding-left: 20px;
        padding-right: 20px;
    }

    .author__img {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }

    .comment-one__single {
        flex-direction: column;
        align-items: baseline;
    }

    .comment-one__content {
        margin-left: 0;
        margin-top: 20px;
    }

    .comment-one__image {
        margin-top: 0;
    }

    .case-single__details {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    .case-single__details-inner {
        padding: 40px 20px 40px;
    }

    .case-single__details-list {
        flex-direction: column;
        align-items: baseline;
    }

    .case-single__details-list li+li {
        margin-top: 40px;
    }

    .contact-page__right {
        margin-top: 50px;
    }

    .contact-page__title {
        font-size: 40px;
    }

    .portfolio-details__planing-right {
        margin-left: 0;
        margin-top: 23px;
    }

    .portfolio-details__sidebar {
        margin-top: 50px;
    }

    .gallery-one__title-box {
        display: none;
    }

    .services-details__img-and-points-box {
        flex-direction: column;
        align-items: baseline;
    }

    .services-details__points-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .services-details__right {
        margin-top: 60px;
    }

    .team-details__right {
        margin-left: 0;
        margin-top: 30px;
    }

    .team-details__title {
        font-size: 40px;
    }

    .team-details__points-box {
        flex-direction: column;
        align-items: baseline;
    }

    .team-details__points-3 {
        margin-left: 0;
        margin-top: 8px;
    }

    .qualification__inner {
        flex-direction: column;
        align-items: baseline;
    }

    .qualification__left {
        padding: 56px 20px 52px;
        padding-right: 20px;
    }

    .qualification__right {
        margin-left: 0;
        padding: 56px 20px 63px;
    }

    .why-choose-one__title {
        font-size: 30px;
        line-height: 40px;
    }

    .why-choose-one__points li {
        flex-direction: column;
        align-items: baseline;
    }

    .why-choose-one__points li .content {
        margin-left: 0;
        top: 0;
        margin-top: 10px;
    }

    .why-choose-one__right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }

    .page-header__shape-1 {
        top: 0;
    }

    .page-header {
        padding: 311px 0 229px;
    }

    .page-header__shape-2,
    .page-header__shape-3 {
        display: none;
    }

    .page-header__inner h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }




    .portfolio-one__list {
        display: block;
    }

    .portfolio-one__list li+li {
        margin-top: 100px;
    }

    .portfolio-one__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }

    .portfolio-one__title-box {
        left: 20px;
        right: 53px;
        padding: 39px 30px 43px;
    }














}


































@media only screen and (min-width: 1400px) and (max-width: 1670px) {
    .feature-one__single {
        padding: 50px 20px 55px;
        padding-right: 20px;
    }

    .feature-one__title {
        font-size: 20px;
    }

    .testimonial-two__carousel.owl-carousel .owl-dots {
        right: -30px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .feature-one__single {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: baseline;
    }

    .feature-one__content {
        margin-left: 0;
    }


    .testimonial-two__right {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .testimonial-two__text-2 {
        font-size: 30px;
        line-height: 40px;
    }



    .about-three__right {
        margin-left: 0;
        margin-right: 0;
    }

    .about-three {
        padding: 120px 0 148px;
    }






}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .about-one__right {
        margin-right: 0;
    }

    .about-one__right .section-title__title {
        font-size: 44px;
    }


    .services-two {
        margin-right: 0;
    }

    .services-two__right {
        margin-left: -160px;
        margin-right: 0;
    }

    .services-two__single {
        padding-left: 30px;
    }


    .services-three__left {
        margin-left: 0;
    }


}


@media only screen and (min-width: 1200px) and (max-width: 1385px) {

    .team-one__name-box,
    .team-three__name-box {
        bottom: 115px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1330px) {

    .testimonial-three__inner {
        margin-left: 0;
    }
}









/*--------------------------------------------------------------
# Slider All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-slider__shape-1 {
        top: 0;
    }

    .main-slider__shape-3 {
        display: none;
    }


    .main-slider-two .owl-theme .owl-dots {
        max-width: 960px;
    }

    .main-slider-two__img {
        display: none;
    }

    .main-slider-three .owl-theme .owl-dots {
        max-width: 960px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-slider__shape-1 {
        top: 0;
    }

    .main-slider__shape-3 {
        display: none;
    }


    .main-slider-two .owl-theme .owl-dots {
        max-width: 720px;
    }

    .main-slider-two__img {
        display: none;
    }


    .main-slider-three .owl-theme .owl-dots {
        max-width: 720px;
    }

    .main-slider-three__title {
        font-size: 75px;
        line-height: 85px;
    }
}



@media only screen and (max-width: 767px) {
    .main-slider__shape-1 {
        top: 0;
    }

    .main-slider__shape-3,
    .main-slider .owl-theme .owl-dots,
    .main-slider__shape-2 {
        display: none;
    }

    .main-slider__sub-title {
        font-size: 25px;
        line-height: 35px;
    }

    .main-slider__title {
        font-size: 35px;
        line-height: 45px;
    }

    .main-slider__text {
        font-size: 25px;
    }

    .main-slider .item {
        padding-top: 238px;
        padding-bottom: 150px;
    }


    .main-slider-two .owl-theme .owl-dots {
        max-width: 540px;
    }

    .main-slider-two__img,
    .main-slider-two__shape-1 {
        display: none;
    }

    .main-slider-two__sub-title {
        font-size: 25px;
        line-height: 35px;
    }

    .main-slider-two__title {
        font-size: 35px;
        line-height: 45px;
    }

    .main-slider-two__text {
        font-size: 25px;
    }

    .main-slider-two .item {
        padding-top: 270px;
    }


    .main-slider-three {
        padding-right: 0;
    }

    .main-slider-three__social,
    .main-slider-three__open-close-hours,
    .main-slider-three__img {
        display: none;
    }

    .main-slider-three .owl-theme .owl-dots {
        max-width: 540px;
    }

    .main-slider-three__title {
        font-size: 35px;
        line-height: 45px;
    }

    .main-slider-three__sub-title {
        font-size: 25px;
        line-height: 35px;
    }

    .main-slider-three__text {
        font-size: 24px;
    }


}



@media only screen and (min-width: 1500px) and (max-width: 1770px) {
    .main-slider-two__img {
        right: 30px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .main-slider-two__img {
        right: -100px;
    }

    .main-slider-two__img img {
        width: 80% !important;
    }
}


/*--------------------------------------------------------------
# Main Menu All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header__top {
        display: none;
    }

    .main-menu__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu__logo {
        margin-right: 50px;
    }





    .main-menu-two__wrapper-inner {
        padding: 0 30px 0;
    }

    .main-menu-two__logo {
        margin-right: 50px;
    }

    .main-menu-two__search-cart-box {
        margin-left: 50px;
    }



    .main-menu-three__top {
        display: none;
    }

    .main-menu-three__wrapper {
        padding-top: 0;
    }

    .main-menu-three__wrapper-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 30px 0;
        padding-right: 30px;
    }

    .main-menu-three__logo {
        position: relative;
        top: 0;
        left: 0;
    }

    .main-menu-three__logo a {
        padding: 40px 40px;
    }

    .main-menu-three__top-call {
        position: relative;
        top: 0;
        right: 0;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--zeena-black);
    }

    .main-menu-three__main-menu-box {
        margin-right: 60px;
    }





}




@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header__top {
        display: none;
    }

    .main-menu__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu__logo {
        margin-right: 50px;
    }

    .main-menu__search-cart-box {
        margin-left: 50px;
    }



    .main-menu-two__wrapper-inner {
        padding: 0 30px 0;
    }

    .main-menu-two__logo {
        margin-right: 50px;
    }

    .main-menu-two__search-cart-box {
        margin-left: 50px;
    }




    .main-menu-three__top {
        display: none;
    }

    .main-menu-three__wrapper {
        padding-top: 0;
    }

    .main-menu-three__wrapper-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 30px 0;
        padding-right: 30px;
    }

    .main-menu-three__logo {
        position: relative;
        top: 0;
        left: 0;
    }

    .main-menu-three__logo a {
        padding: 40px 40px;
    }

    .main-menu-three__top-call {
        position: relative;
        top: 0;
        right: 0;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--zeena-black);
    }

    .main-menu-three__main-menu-box {
        margin-right: 60px;
    }

    .main-menu-three__search-cart-btn-box {
        display: none;
    }


}


@media (max-width: 767px) {
    .main-header__top {
        display: none;
    }

    .main-menu__wrapper-inner {
        padding: 0 20px 0;
    }

    .main-menu__logo {
        margin-right: 0;
    }

    .main-menu__right {
        display: none;
    }

    .main-menu__search-cart-box {
        display: none;
    }

    .main-menu__left {
        padding-right: 0;
        justify-content: space-between;
        flex: 1;
    }

    .main-menu__left:before {
        right: -20000000px;
    }




    .main-menu-two__wrapper-inner {
        padding: 0 20px 0;
    }

    .main-menu-two__right {
        display: none;
    }

    .main-menu-two__search-cart-box {
        display: none;
    }

    .main-menu-two__logo {
        margin-right: 0px;
    }

    .main-menu-two__left {
        justify-content: space-between;
        flex: 1;
    }




    .main-menu-three__top {
        display: none;
    }

    .main-menu-three__wrapper {
        padding-top: 0;
    }

    .main-menu-three__wrapper-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px 0;
        padding-right: 30px;
    }

    .main-menu-three__logo {
        position: relative;
        top: 0;
        left: 0;
    }

    .main-menu-three__logo a {
        padding: 25px 25px;
    }

    .main-menu-three__top-call {
        display: none;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--zeena-black);
    }

    .main-menu-three__main-menu-box {
        margin-right: 0;
    }

    .main-menu-three__search-cart-btn-box {
        display: none;
    }






}




@media only screen and (min-width: 1600px) and (max-width: 1905px) {
    .main-header__top-inner {
        padding: 2.5px 50px 2.5px;
    }

    .main-menu__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu__logo {
        margin-right: 90px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .main-header__top-inner {
        padding: 2.5px 50px 2.5px;
    }

    .main-menu__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu__logo {
        margin-right: 40px;
    }

    .main-menu__search-cart-box {
        margin-left: 2px;
    }


    .main-menu-two__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu-two__logo {
        margin-right: 50px;
    }

    .main-menu-two__search-cart-box {
        margin-left: 50px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .main-header__top-inner {
        padding: 2.5px 20px 2.5px;
    }

    .main-menu__wrapper-inner {
        padding: 0 20px 0;
    }

    .main-menu__logo {
        margin-right: 40px;
    }

    .main-menu__search-cart-box {
        margin-left: 2px;
    }

    .main-menu__cart-box {
        display: none;
    }

    .main-menu__left {
        padding-right: 0;
    }

    .main-menu__left:before {
        right: -200000px;
    }


    .main-menu-two__wrapper-inner {
        padding: 0 20px 0;
    }

    .main-menu-two__logo {
        margin-right: 50px;
    }

    .main-menu-two__search-cart-box {
        margin-left: 0px;
    }

    .main-menu-two__cart-box {
        display: none;
    }



}


@media only screen and (min-width: 1600px) and (max-width: 1830px) {
    .main-menu-two__wrapper-inner {
        padding: 0 50px 0;
    }

    .main-menu-two__logo {
        margin-right: 150px;
    }
}


@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .main-menu-three__top-text {
        display: none;
    }

    .main-menu-three__btn-box {
        display: none;
    }

    .main-menu-three__top-inner {
        padding: 17.5px 40px 17.5px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .main-menu-three__top-call {
        display: none;
    }

    .main-menu-three__logo {
        left: 20px;
    }

    .main-menu-three__logo a {
        padding: 40px 40px;
    }

    .main-menu-three__wrapper-inner {
        padding: 0 285px 0;
        padding-right: 20px;
    }

    .main-menu-three__top-inner {
        padding: 7.5px 20px 7.5px;
    }

    .main-menu-three__btn-box {
        display: none;
    }
}